@charset "UTF-8";

.webbutton {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

body,td,th {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	line-height: 27px;
    background-color: #FFFFFF;
    color: #000000;
    overflow-x: hidden;
}

img {
  float: right;
  border: 1px dotted black;
  margin: 0px 0px 15px 20px;
}

h1 {
    font-family: "Arial"; line-height: 48px;
}

h2 {
    font-family: "Arial", sans-serif; line-height: 36px;
}

@media only screen and (max-width: 1000px) {
    body,td,th {
        font-family: "Arial", sans-serif;
        font-size: 30px;
        line-height: 42px;
        background-color: #FFFFFF;
        color: #000000;
        overflow-x: hidden;
    }
    h2 {
        font-family: "Arial", sans-serif; line-height: 42px;
    }
}

-webkit-transform: translate3d(0,0,0);

.button {
    color: #D8D9DB;
    display: table-cell;
    
}
.button:hover {
    background-color: #2A2A2A;
    cursor: pointer;
}


.inlink {
    color: #999999;
    
}
.inlink:hover {
    display:inline-block;
    color: #999999;
    cursor: pointer;
}

.header
{
    position:fixed;
    width: 100%;
    height:100%;
    
}
.header-bar
{
    width: 100%;
    background: linear-gradient(#000000,#090909);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #444444;
    height: 80px;    
}

.navTable {
    vertical-align: middle;
    border-style: none;
    text-align: left;
    display: table;
    width: 60%;
    margin: 0 auto;
}
.navRow {
    display: table-row;
    vertical-align: middle;
    color: #D8D9DB;
}
.navRow a {
    color: #D8D9DB;
    
}
.navRow a:hover {
    background-color: #2A2A2A;
    cursor: pointer;
}

.navRow .icon {
    display: none;
  }


.topBackground {
    text-align: left;
    border-style: none;
    height: 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center 80px;
    z-index: 2;    
}
@media only screen and (max-width: 1000px) {
    .navTable {
        vertical-align: middle;
        border-style: none;
        text-align: left;
        width: 100%;
        margin: 0 auto;
    }
    .topBackground {
        text-align: left;
        border-style: none;
        height: 30%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        background-position: center 80px;
        z-index: 2;
    }
}
.topBackground.backBanner {
    background-image: url('./images/back.jpg');

}
.content
{
    position:absolute;
    top: 83px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
    z-index: 2;
}

a {
    color: #999999;
    text-decoration: none;
}

.shrunkLeft {
    
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .shrunkLeft {
        width: 80%;
        text-align: left;
        margin: 0 auto;
    }
}


.projectItem{
    background: #FFFFFF;
    color: #000000;
    display: table;
    margin: 0 auto;
    text-align: left;
    border-style: none;
    width: 100%;
    opacity: 1.0;
    font-family: "Arial";
}
.projectItem2{
    background: #FFFFFF;
    color: #000000;
    display: table;
    margin: 0 auto;
    text-align: left;
    border-style: none;
    width: 100%;
    opacity: 1.0;
    font-family: "Arial";
}
.projectItemTemp{
    background: #444444;
    color: #FFFFFF;
    display: table;
    margin: 0 auto;
    text-align: left;
    border-style: none;
    width: 100%;
    opacity: 1.0;
    font-family: "Arial";
}
.projectItem2Temp{
    background: #005577;
    color: #FFFFFF;
    display: table;
    margin: 0 auto;
    text-align: left;
    border-style: none;
    width: 100%;
    opacity: 1.0;
    font-family: "Arial";
}
.projectItem img{
    height: 180px;
}
.blankDiv2{
    width: 100%; height: 20px;
}


.peopleTable {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
    justify-content: center;
  
}

.peopleCell {
  background: #FFFFFF;
  padding: 1% 3%;
  width: 15%;
  font-size: 15px;
  line-height: 22px;
  height: auto;    
  text-align: center;
}

@media only screen and (max-width: 1000px) {
    .peopleCell {
        background: #FFFFFF;
        padding: 2% 5%;
        width: 300px;
        font-size: 24px;
        line-height: 32px;
        height: auto;
        text-align: center;
    }
}

.peopleContainer {
    width: 100%;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.peopleContainer img {
    width: 100%;
    height: auto;
    display: inline;
    margin: 0 auto;
}
.peopleBio {
    height: auto;
    text-align: center;
    vertical-align: center;
    margin: 0 auto;
    font-size: 15px;
    line-height: 22px;
    
}
@media only screen and (max-width: 1000px) {
    .peopleBio {
        height: auto;
        text-align: center;
        vertical-align: center;
        margin: 0 auto;
        font-size: 24px;
        line-height: 32px;
        
    }
}


.flex-container {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: center;
    background-color: #FFFFFF;
}

.flex-container2 {
    background-color: #FFFFFF;
    margin: 20px;
    padding: 10px;
    border-style: solid;
    border-color: #999999;
    border-width: 1px;
    border-radius: 1%;
    /*box-shadow: 0 1px #777777;*/
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: column wrap;
    justify-content: space-between;

}

.pubContainer {
    width: auto;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    position: relative;
    font-size: 24px;
    line-height: 32px;
    
}


@media only screen and (min-width: 1000px) {
    .pubContainer {
        width: 300px;
        text-align: left;
        margin: 0 auto;
        padding: 10px;
        overflow: hidden;
        position: relative;
        font-size: 15px;
        line-height: 20px;
        
    }
}

.pubContainer img {
    width: 100%;
    height: auto;
    display: inline;
    margin: 0 auto;
}

